body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  text-align: center;
}

input {
  background-color: rgb(29, 29, 29);
  color: aliceblue;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: aliceblue solid;
  width: 30px;
}

.form-boxes {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.output-boxes {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats-box {
  border: aliceblue solid;
  width: 30em;
  height: 30em;
  margin: 20px;
}

.minor-stat-block {
  /* stuff */
}

.submit {
  padding: 10px;
  width: 5em;
  border: aliceblue solid;
}

.submit:hover {
  background-color: aliceblue;
  color: rgb(29, 29, 29);
  border: aliceblue solid;
}

input[type="number"] {
  -moz-appearance: textfield;
}
